    body {
        padding-top: 5rem;
        background: #181B22;
    }
    
    .bg-dark {
        background-color: #181B22 !important;
    }
    
    .active {
        border-bottom: 2px solid white !important;
        font-family: Montserrat;
        font-weight: bold;
    }
    
    .nav-item {
        font-family: Montserrat Light;
    }
    
    .nav-item:hover {
        border-bottom: 2px solid gray !important;
    }
    
    nav>div>ul>li {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .social-links li {
        display: inline-block;
    }
    
    .social-links>li>a:hover {
        opacity: 0.5;
    }
    
    .text-header {
        font-family: Montserrat SemiBold;
        font-size: 40pt;
    }
    
    .text-detail {
        font-family: Montserrat Light;
        font-size: 30pt;
    }
    
    .text-quotes {
        font-family: Montserrat Light;
        font-size: 12pt;
        width: 75%;
        float: right;
    }
    
    .left-content {
        z-index: 1;
    }
    
    .me {
        opacity: 1;
    }
    
    .pt-s {
        padding-top: 2rem;
    }
    
    @media (max-width:991px) {
        .me {
            opacity: 0.5;
        }
        .pt-s {
            padding-top: 0rem !important;
        }
    }
    
    @media (max-width:767px) {
        .front {
            position: absolute;
            transform: translateY(100%);
            padding-right: 30px;
        }
    }